/caches/*
/qodana.yaml
/build/libs/
/build/reports/
/build/tmp/
*.class
*.kotlin_module
build/*
.DS_Store
*/.DS_Store
/.tmp
/.gradle/*/
*/file-system.probe
*/vcs-1
*/workspace-id.txt
*/workspace-id.txt.lock
*/.idea/libraries
*/.idea/runConfigurations
/daemon
/jdks
/gradle/wrapper
/build
gradlew
gradlew.bat
/lib
/native
*/__pycache__
/wrapper/dists
/.gradle/*/*