/caches/*
/qodana.yaml
/build/libs/
/build/reports/
/build/tmp/
*.class
*.kotlin_module
build/distributions/Kognitive-0.0.1.tar
build/distributions/Kognitive-0.0.1.zip
build/distributions/Kognitive-shadow-0.0.1.tar
build/distributions/Kognitive-shadow-0.0.1.zip
build/scripts/Kognitive
build/scripts/Kognitive.bat
build/scriptsShadow/Kognitive
build/scriptsShadow/Kognitive.bat
daemon/.DS_Store
/.tmp
/.gradle/8.10.2
.gradle/.DS_Store
/.gradle/8.5
/.gradle/buildOutputCleanup
.gradle/file-system.probe
/.gradle/vcs-1
.gradle/workspace-id.txt
.gradle/workspace-id.txt.lock
.idea/.DS_Store
/.idea/libraries
.idea/modules/Kognitive.mainJvm.iml
/.idea/runConfigurations
/daemon
/jdks
/kotlinJvm_proofs
/kotlinJvm_proofs
/kotlinJvm_proofs
kotlinJvm_proofs/build.gradle.kts
/kotlinJvm_proofs
/gradle/wrapper
/build
gradlew
gradlew.bat
/lib
mainJvm/.DS_Store
mainJvm/kotlin/.DS_Store
mainJvm/kotlin/src/ai/solace/.DS_Store
mainJvm/kotlin/src/ai/solace/core/.DS_Store
mainJvm/kotlin/src/ai/solace/core/kognitive/.DS_Store
native/.DS_Store
/native/100fb08df4bc3b14c8652ba06237920a3bd2aa13389f12d3474272988ae205f9/osx-aarch64
/native/38dada09dfb8b06ba9b0570ebf7e218e3eb74d4ef43ca46872605cf95ebc2f47
/native/c067742578af261105cb4f569cf0c3c89f3d7b1fecec35dd04571415982c5e48
/native/jansi
python_proofs/.DS_Store
/python_proofs/__pycache__
/wrapper/dists
.DS_Store
.DS_Store
