*.class
*.kotlin_module
.DS_Store
.gradle/.DS_Store
.gradle/file-system.probe
.gradle/kotlin
.gradle/kotlin/*
.gradle/workspace-id.txt
.gradle/workspace-id.txt.lock
.gradle/8*
.gradle/build*
.gradle/vcs*
.idea/.DS_Store
.idea/libraries/*
.idea/libraries
.idea/runConfigurations
.idea/shelf
.idea/shelf/*
.tmp
build
build/*
caches/*
daemon
gradle/wrapper
jdks
lib
native
native/*
python_proofs/__pycache__
*/__pycache__
*/__pycache__/*
qodana.yaml
wrapper/dists
build/distributions
build/distributions/*
build/scripts
build/scripts/*
build/scriptsShadow
build/scriptsShadow/*
daemon/.DS_Store
gradlew
gradlew.bat
mainJvm/.DS_Store
mainJvm/kotlin/.DS_Store
mainJvm/kotlin/src/ai/solace/.DS_Store
mainJvm/kotlin/src/ai/solace/core/.DS_Store
mainJvm/kotlin/src/ai/solace/core/kognitive/.DS_Store
native/.DS_Store
python_proofs/.DS_Store
.DS_Store
python_proofs/infinitemath/__pycache__/bigbase65536.cpython-312.pyc
python_proofs/last_ltc_output_histogram.json
.DS_Store
